<div class="container mt-2 mb-2">
    <h1>Añadir nuevo usuario</h1>
    <hr>
    <form [formGroup]="usuario" (ngSubmit)="onSubmit()" class="shadow p-3 mb-5 bg-white rounded">
        <div class="row row-cols-auto mx-auto text-center">
            <div class="col-4">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="user@reqres.in" formControlName="email" required>
                    <mat-error *ngIf="usuario.value.email.invalid">{{getEmailErrorMessage()}}</mat-error>
                </mat-form-field>                
            </div>
            <div class="col-4">
                <mat-form-field appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="Iron" formControlName="first_name" required>
                    <mat-error *ngIf="usuario.value.first_name.invalid">{{getFirtsNameErrorMessage()}}</mat-error>
                </mat-form-field>                
            </div>
            <div class="col-4">
                <mat-form-field appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Man" formControlName="last_name" required>
                    <mat-error *ngIf="usuario.value.last_name.invalid">{{getLastNameErrorMessage()}}</mat-error>
                </mat-form-field>                   
            </div>
        </div>
        <button type="submit" [disabled]="!usuario.valid">Confirmar</button>
    </form>
</div>