<header class="sticky-top">
    <div class="d-inline-flex p-2 bd-highlight">
        <div class="d-flex flex-row bd-highlight">
            <div class="p-2 bd-highlight">
                <img class="logo" src="assets/img/angular_logo.png" />
            </div>
            <div class="d-flex p-2 bd-highlight">
                <div class="d-flex flex-row bd-highlight align-items-center">
                    <div class="p-2 bd-highlight">
                        <a class="enlace-header" [routerLink]="['/inicio']" routerLinkActive="active">Inicio</a>
                    </div>
                    <div class="p-2 bd-highlight">
                        <a class="enlace-header" data-bs-toggle="modal" data-bs-target="#addModal">Añadir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<app-add-modal #addModal [tituloModal]="'Añadir usuario'" (addAction)="onChangeData($event)"></app-add-modal>