/* ============================================================================ */
/* 
/*  FOOTER
/* 
/* ============================================================================ */
footer{
    background: linear-gradient( 90deg,#000,rgba(247,28,0,.779) 100%,#00d4ff 0);
    height: 48px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}